/* font-family: 'Inter', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #36b37f;
  --clr-dark: #172b4d;
  --clr-light: #ebf0ee;
  --fw-normal: 400;
  --fw-lightBold: 500;
  --fw-blod: 600;
  --fw-black: 700;
  --grid: 1fr;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  color: var(--clr-dark);
  line-height: 1.4;
  background-color: white;
  background-image: url(../images/background/header-illsutration-mobile.svg);
  background-repeat: repeat-y;
}

h1, 
h2, 
h3 { line-height: 1; }

header {
  display: flex;
  height: 2.5rem;
  background-color: white;
  align-items: center;
   
}

.welcome {
  display: flex;
  margin: 0;
  padding: 0.5em;
  font-weight: var(--fw-blod);
  font-size: 1em;
  text-align:justify;
  line-height: 1.4em;
}

.menu {
  float: right;
  display: flex;
  grid-row: span 2;
  padding-left: 50%;
}

main {
  width: 90%;
  margin: 0 auto;
}

.headlines {
  margin-bottom: 4em;
}

.greetings {
  color: var(--clr-dark);
  font-weight: var(--fw-black);
  text-align: center;
  font-size: 2.2em;
}

.intro {
  color: var(--clr-primary);
  font-weight: var(--fw-black);
  text-align: center;
  font-size: 2.2em;
  margin-top: 0%;
}

.info__text {
  font-weight: var(--fw-normal);
  font-size: 1.1em;
  text-align: center;
}

.social__media {
  list-style-type: none;
  margin-top: 0;
}

.handles {
  float: left;
  margin: 0 0.7em;
  align-items: center;
  margin-bottom: 0.5em;}
